.block{
  background-color:white;
  opacity:0.6;
  padding:10px;
  width:50%;
  margin-right:auto;
  margin-left:auto;
  border-radius:10px;
  margin-bottom:10px;
  margin-top:40px;
}
.nav-pills{
  font-size:1.7em;
  background-color:black;
}
body{
  font-family: arial;
  color:white;
  background-color:black;
}
h1{
  font-size:4em;
  color: black;
}

h2 {
  color: #FFF500;
}
.btn-default{
  background-color:#E37222;
  border-color:#E37222;
  color:white;
  font-size:2.5em;
  margin-top:40px;
}
.pageOne{
 background-color:#07889B;
  padding:90px;
}
.pageTwo{
 background-color:#66B9BF;
  padding:40px;
}

.parrafoDescripcion{
  font-size:20px;
  margin-top:50px;
}



.miFoto{
  width: 400px;
  margin-top:130px;
  margin-left:30px;
  border-radius: 10px;
}

#logoapp {
  width: 400px;
  margin-top:30px;
  margin-left:30px;
  border-radius: 10px;
}


#experienciatitle{
  margin-top:2%;
  margin-bottom:20px;
}

footer {
    padding: 20px;
    background: rgba(192, 192, 192, 0.9);
}

.imgleng {
  margin-top:70px;
  margin-left:60px;
}

#imgcss {
  width: 95px;
  height: 140px;
}
#imgjs {
  width: 95px;
  height: 150px;
}
#imgrb{
  width: 110px;
  height: 130px;
}

#imghtml {
  width: 130px;
  height: 140px;
}

.redes {
  width: 50px;  
  height: 50px;

}
#redess {
  text-align: center;
}

#logotr {
  width: 300px;
  margin-top:50px;
  margin-left:100px;
}

#Foto {
   width: 200px;
  margin-top:50px;
  margin-left:100px;
  border-radius: 10px;
}

.cont {
  color: black;
  display: block;  margin: 0 auto 0 ;
}