
<fieldset>

<h1>Registro Unidad Residencial</h1>
<%=link_to "Usuarios",users_path %>
<div>
	<label>
		Nombre de la Unidad Residencial: 
		<br>
		<input type="text" name="nombreunidad" placeholder="Nombre Unidad Residencial">
	</label>
</div>
<br>
<div>
	<label>
		Ubicación:
		<br>
		<input type="text" name="direccion" placeholder="Dirección" maxlength="30">
	</label>
</div>
<br>
<div>
	<label>
		
		Número de Bloques:
		<br>
		<select>
			<option>Torres</option>
			<option>Casas</option>		
		</select>
		<input type="text" name="numero" maxlength="5" placeholder="Número de Bloques y/o Casas">
	</label>
</div>
<br>
<div>
	<label>
		Número de Porterias:
		<br>
		<input type="text" name="NúmeroPort" maxlength="3" placeholder="Número de Porterias">
	</label>
</div>
<br>
<div>
	<label>
		Número de Usuarios:
		<br>
		<input type="text" name="numusuarios" maxlength="10" placeholder="Número de Usuarios">
	</label>
</div>
<br>
<div>
	<label>
		Número de Porteros:
		<input type="text" name="porteros" placeholder="Número de Porteros">
		<br>
		Nombres: 
		<input type="text" name="nomporteros" placeholder="Nombre del Portero">
		
	</label>
</div>


</fieldset>